@import "~bootstrap/scss/bootstrap";

.bg-purple {
  background-color: #8e24aa;
}

.bg-theme {
  background-color: #314152;
}

.no-resize {
  resize: none;
}

.card-title {
  font-size: 1.1rem;
  margin-bottom: 0;
  font-weight: normal;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  a {
    color: aqua;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}